@inherits FortyFingers.DnnMassManipulate.Components._40FingersLib.FfRazorViewPageOfT<FortyFingers.DnnMassManipulate.ModulesModel>
@{
}
<script type="text/javascript">
    jQuery(function ($) {
        $('#dnnFfmmTabs').dnnTabs();
    });
</script>
<div class="dnnFormMessage dnnFormValidationSummary">This module allows you to completely wreck your site, if you don't know what you're doing. Even if you DO know
    what you're doing, it's quite easy to mess up things really badly. Please do backup your website files AND database before you use any tab in this module. <strong>
    And please, don't forget <a href="https://www.40fingers.net">40FINGERS</a>
    or any other supplier of a manipulator-module, can not be held accountable for any issue you might run into by using this module.
</strong></div>
<div class="dnnForm" id="dnnFfmmTabs">
    <ul class="dnnAdminTabNav">
        @foreach (var module in Model.Modules)
        {
            <li><a href="#@(module.JsName)">@module.TabName()</a></li>
        }
    </ul>
    @foreach (var module in Model.Modules)
    {
<div id="@(module.JsName)" class="dnnClear">
    @try
    {
        <div>
            @Html.Raw(module.GetHtml())
        </div>
    }
    catch (Exception e)
    {
        <div>
            <p><strong>Exception message: </strong>@e.Message</p>
            <p><strong>Stacktrace: </strong>@e.StackTrace</p>
        </div>
    }
    <div>From assembly: @module.Assembly</div>
</div>
    }
</div>
